# Canvas LMS
CANVAS_API_URL=hhttps://dwight.instructure.com
CANVAS_API_TOKEN=4851~8WcEcahVnDKTHV2cX6eQzD7NtY7yrwha8t3RmDKHuu9N3zPkchAQ3CYwAhTa3Xwy

# K2-Think-v2 LLM
K2_API_KEY=IFM-WkjDZvTiR3M7dwqV
K2_API_URL=https://api.k2think.ai/v1/chat/completions
K2_MODEL=MBZUAI-IFM/K2-Think-v2

# ChromaDB
CHROMA_PERSIST_DIR=./chroma_data

# Server
HOST=0.0.0.0
PORT=8000
ALLOWED_ORIGINS=http://localhost:5173,https://aydxb09.github.io
